
:root {
    --purple-color: #6277ef;
    --hover-color: #586bd7;
    --text-color: #5b5b5b;
  }



/*
--------------------------------------------
FORMULAIRE
--------------------------------------------
*/
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .login-container h2 {
    margin-bottom: 1.5rem;
  }
  
  .login-form .form-group {
    margin-bottom: 1rem;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 0.7rem;
    border: none;
    background: var(--purple-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background: var(--hover-color);
  }
  
  .form-footer {
    margin-top: 1rem;
  }
  
  .form-footer a {
    text-decoration: none;
    color: #5b5b5b;
    display: block;
    margin-top: 0.5rem;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }
  